* {
  font-family: monospace;
}

body,
html {
  background-image: url("./cool-background.png");
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0em;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  background-color: #ffffffcc;
  text-align: center;
  border-radius: 5em;
  padding: 0em 2em 0em 2em;
  margin: 2em 2em 0em 2em;
}

#navbar a button {
  background-color: #ffffff00;
  color: #000000;

  font-size: 3em;
  font-weight: bolder;

  margin: 0em;
  padding: 2vh 3vw;

  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 900px) {
  #navbar a button {
    font-size: 1.5em;
    padding: 1.5vh 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  #navbar a button {
    font-size: 0.75em;
    padding: 1vh 2vw;
  }
}

@media screen and (max-width: 300px) {
  #navbar a button {
    font-size: 0.5em;
    padding: 1vh 2vw;
  }
}

#navbar a button:hover {
  background-color: #000000;
  color: #ffffff;
}

#logo {
  text-align: center;
  margin: 7.5vh 0 7.5vh 0;
  font-size: 6vw;
}

#content {
  background-color: #ffffffcc;
  border-radius: 1em;
  padding-bottom: 1vh;
  margin: 5%;
  box-shadow: 0px 1px 25px #00000075;
}

#content h1 {
  text-align: center;
  font-size: 5vw;
  padding-top: 0.75em;
}

#content h2 {
  font-size: 3vw;
}

#content h3 {
  font-size: 2vw;
}

#content hr {
  border: 0;
  height: 1px;
  margin: 0 5em;
  background-image: linear-gradient(90deg, #00000000, #000000ff, #00000000);
}

#content a,
i {
  font-size: 2vw;
  text-decoration: none;
  margin: 0.25em 0em;

  transition-duration: 0.2s;
}

#content a:hover {
  opacity: 0.7;
}

#text {
  margin: 1vh 3vw 1vh 3vw;
}

#extra {
  background-color: #ffffff00;
  text-align: center;
  padding: 0em 2em 0em 2em;
  margin: 2em;
}

#extra button {
  background-color: #ffffffcc;
  color: #000000;

  font-weight: bolder;
  font-size: 1.5em;

  border-radius: 5em;
  margin: 0em -0.25em 0em -0.25em;
  padding: 2vh 3vw;

  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  outline: none;
}

#extra button:hover {
  background-color: #000000;
  color: #ffffff;
}
