* {
  font-family: monospace;
}

body,
html {
  background-image: url("./cool-background.png");
  overflow-y: auto;

  height: 100%;
  margin: 0em;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  background-color: #ffffffcc;
  text-align: center;
  border-radius: 5em;
  margin: 2em 2em 0em 2em;
}

#navbar button {
  background-color: #ffffff00;
  color: #000000;

  font-size: 1.5em;
  font-weight: bolder;

  margin: 0em -0.25em 0em -0.25em;
  padding: 2em 3em;

  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  outline: none;
}

#navbar button:hover {
  background-color: #000000;
  color: #ffffff;
}

#logo {
  text-align: center;
  margin: 15vh 0 0 0;
  font-size: 6vw;
}

#content {
  background-color: #ffffffcc;
  margin: 5%;
  height: 100%;
  box-shadow: 0px 1px 5px #00000075;
}

#content h1 {
  text-align: center;
  font-size: 6vh;
}

#content hr {
  background-color: #00000075;
}

#extra {
  background-color: #ffffff;
}
